In [1]:
# Dependencies 
import pandas as pd
import numpy as np
import csv
import os
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float, Numeric, Text, DateTime
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, MetaData

In [2]:
h_measure = os.path.join("Resources", "hawaii_measurements.csv")
hawaii_stations = os.path.join("Resources", "hawaii_stations.csv")

In [3]:
h_measure_pd = pd.read_csv(h_measure)
h_measure_pd.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [4]:
h_measure_pd = h_measure_pd.dropna(how='any').reset_index(drop=True)

In [5]:
h_measure_pd.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [6]:
h_measure_pd.to_csv("Resources/h_measurements_clean.csv", index=False, header=True)
h_measure_pd.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [7]:
hawaii_stations_pd = pd.read_csv(hawaii_stations)
hawaii_stations_pd.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [8]:
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [9]:
Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'Measurement'

    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Float)
   
    def __repr__(self):
        return f"id={self.id}, station={self.station},\
        date={self.date}, prcp={self.prcp}, tobs={self.tobs}"

In [10]:
class Station(Base):
    __tablename__ = 'Station'

    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
   
    def __repr__(self):
        return f"id={self.id}, station={self.station}, latitude={self.latitude},\
        longitude={self.longitude}, elevation={self.elevation}"

In [11]:
Base.metadata.create_all(engine)

In [12]:
# Create a list of data
measure_data = h_measure_pd.to_dict(orient="records")
stations_data = hawaii_stations_pd.to_dict(orient="records")

In [13]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [14]:
measure_table = sqlalchemy.Table("Measurement", metadata, autoload=True)
stations_table = sqlalchemy.Table("Station", metadata, autoload=True)

In [15]:
conn.execute(measure_table.delete())

In [16]:
conn.execute(measure_table.insert(), measure_data)

In [17]:
conn.execute("select * from Measurement limit 10").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0),
 (6, 'USC00519397', '2010-01-08', 0.0, 64.0),
 (7, 'USC00519397', '2010-01-09', 0.0, 68.0),
 (8, 'USC00519397', '2010-01-10', 0.0, 73.0),
 (9, 'USC00519397', '2010-01-11', 0.01, 64.0),
 (10, 'USC00519397', '2010-01-12', 0.0, 61.0)]

In [18]:
conn.execute(stations_table.delete())

In [19]:
conn.execute(stations_table.insert(), stations_data)

In [20]:
conn.execute("select * from Station limit 10").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]